
      {% extends "template.html" %}
      {% block content %}
      <div class="container">
          <div class="row">
              <div class="col md-12">
                  <div class="jumbotron p-3">
                  <h2>Weight's Information <button type="button"  class="btn btn-success float-right"
                    onclick="window.location.href='{{ url_for('about', page=current_page) }}'">Back to Food</button> </h2>
                     <table class="table table-hover table-striped table-sm m-10px">
                      <tr>
                          <th>sequence_num</th>
                          <th>amount</th>
                          <th>description</th>
                          <th>gm_weight</th>
                          <th>num_data_pts</th>
                          <th>std_dev</th>
                               </tr>
                              {% for food_id, sequence_num, amount, description, gm_weight, num_data_pts, std_dev in food_weights %}
                         <td>{{sequence_num}}</td>
                         <td>{{amount}}</td>
                         <td>{{description }}</td>
                         <td>{{gm_weight}}</td>
                         <td>{{num_data_pts}}</td>
                         <td>{{std_dev}}</td>
                                </tr>
                                 {% endfor %}
                     </table>
                  </div>
              </div>
          </div>
      </div>
      {% endblock %}

